body {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
  font-family: "Poppins", sans-serif;
}
.influencer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.influeencer-info {
  margin-right: 100px;
}
.influeencer-info li {
  line-height: 1.5em;
}
.camera {
  width: auto;
}
.button {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: green;
  padding: 10px 15px;
  border-radius: 20px;
}
.button img {
  height: 15px;
  align-items: center;
}
.button:hover img {
  transform: translateX(20px);
  transition: 1s;
  padding: 0 20px;
}
