body {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
  font-family: "Poppins", sans-serif;
  color: #18191f;
}
/* influencer-section start */
.influencer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.influeencer-info {
  margin-right: 100px;
}
.influeencer-info li {
  line-height: 1.5em;
}
.camera {
  width: auto;
}
.camera:hover {
  transform: rotate(30deg);
  transition: 1s ease-in-out;
}
.button {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: green;
  padding: 10px 15px;
  border-radius: 20px;
}
.button img {
  height: 15px;
  align-items: center;
}
.button:hover img {
  transform: translateX(20px);
  transition: 1s;
  padding: 0 20px;
}
/* influencer-section end */

.other-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
}
.other-logo img {
  margin-right: 20px;
}
.popular-collection h1 {
  text-align: center;
  padding: 50px 0;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 0 70px;
}
.rating {
  color: #fb8200;
}
#botom {
  position: absolute;
  right: 70px;
}
.Featured-products {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
.Featured-products img {
  width: 30%;
  margin: 0 50px;
}
.Featured-products div {
  margin-right: 100px;
}
#last {
  border-radius: 0px;
}
#last img {
  width: auto;
  margin: 0;
}
footer {
  background-color: #0a0826;
  color: white;
  text-align: center;
  padding: 30px 0;
}
footer a {
  padding: 15px;
  color: aliceblue;
  background-color: #10233f;
  border-radius: 50%;
  margin: 0 15px;
}
footer a:hover {
  color: #10233f;
  background-color: white;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 50px;
  }
}
@media (max-width: 767px) and (min-width: 340px) {
  footer a {
    background-color: rebeccapurple;
  }
  .other-logo img {
    margin-right: 0px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 0 20px;
  }
  .Featured-products {
    display: flex;
    flex-wrap: wrap;
  }
  .Featured-products img {
    width: 50%;
  }
}
